.outerWrapper {
    width: 100%;
    height: 100%; margin: 0;
   // border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .inner-wrapper {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start; 
  }
  
  .sidebar-Pannel {
    //padding: 15px;
    width: 220px;  
    box-shadow: 3px 0 6px rgb(177, 176, 176);
  }
  
  mat-toolbar {
    font-weight: lighter; font-family: inherit;
    box-shadow: 3px 0 6px rgb(177, 176, 176);
  }

  .spacer {
    flex: 1 1 auto;
  }
  .logout { text-decoration: none;  font-weight: lighter; font-family: inherit;}






  .footer {
    position: fixed; display: flex;  align-content: center;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center !important;
    padding-top: 10px;
}